<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% block css %}
  {% endblock %}
  <title>{% block title %} {% endblock %}</title>
  <style>
    .page-footer {
      position: fixed;
      left: 0;
      bottom: 0;
      height: 50px;
      width: 100%;
      overflow: hidden;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-lg cyan darken-3 bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/coffee/home"><img src="/media/coffee/images/Screenshot (43).png" alt="" width="100"
          height="50"></a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button> -->
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/coffee/home" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
          <li class="nav-item "><a href="/coffee/Login" class="nav-link">Login</a></li>
          <li class="nav-item"><a href="/coffee/Signup" class="nav-link">Sign up</a></li>
          <li class="nav-item"><a href="/coffee/track" class="nav-link">Track</a></li>
          <li class="nav-item"><a href="/coffee/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/coffee/contact_us" class="nav-link">Contact</a></li>
          <li class="nav-item"><button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus.">
            
            
              Cart(<span id="cart">0</span>)
            </button></li>
          <!-- <li class="nav-item topnav"><input type="text" placeholder="Search.."></li> -->
          <form method='get' class="form-inline my-2 my-lg-0" action="/coffee/search/">
            <input class="form-control mr-sm-2" name="search" id="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
          </form>
        </ul>
      </div>
    </div>
  </nav>
  {% block body %}
  {% endblock %}
  <!-- Footer -->
  <!-- Footer -->
  <footer class="page-footer font-small cyan darken-3 bg-dark ">


    <div class="footer-copyright text-center py-3" style="color: aliceblue;">© {% now 'Y' %} Copyright
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->


  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  {% block js %} {% endblock %}
</body>

</html>