<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <h3>Please do not refresh your page....</h3>
    <form action="https://securegw-stage.paytm.in/theia/processTransaction" method="post" name="paytm">
        {% for key,val in param_dict.items %}
            <input type="hidden" name="{{key}}" value="{{val}}">
        {% endfor %}
    </form>
</body>
<script>
    document.paytm.submit();
</script>
</html>